<h1>{{title}}</h1>
<p>{{description}}</p>
<div class="btn-group">
  <a href="#tasks" title="Cancel" class="btn" title="Cancel"><i class="icon-chevron-left"></i></button>
  <a href="#task/{{id}}/edit" class="btn btn-primary" title="Edit"><i class="icon-edit icon-white"></i></a>
</div>
